.item {
  width: 309px;
  margin: 20px;

  border-radius: 10px;
}

.item-img {
  width: 290px;
}

.item p {
  text-align: center;
  color: rgb(148, 151, 146);
  font-size: 20px;
  font-weight: 600;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.item-price-new {
  color: rgb(255, 2, 2);
  font-size: 20px;
  font-size: 600;
  margin: 6px 120px;
}

.item:hover {
  transform: scale(1.08);
  transition: 0.6s;
}

@media only screen and (max-width: 1024px) {
  .item-img {
    width: 200px;
  }
  .item {
    width: 200px;
    margin: 30px;
  }
}

@media only screen and (max-width: 912px) {
  .item-img {
    margin: 20px 60px;
    width: 140px;
    gap: 20px;
  }
  .item {
    width: 200px;
    margin: 15px;
  }

  .item p {
    color: rgb(148, 151, 146);
    font-size: 20px;
    font-weight: 600;
  }

  .item-price-new {
    color: rgb(248, 0, 0);
    font-size: 18px;
    font-size: 700;
  }
}

@media only screen and (max-width: 820px) {
  .item-img {
    width: 310px;
  }
  .item {
    width: 190px;

    margin: 20px 10px;
  }
}

@media only screen and (max-width: 430px) {
  .item-img {
    width: 210px;
  }
  .item {
    width: 270px;
    margin: 20px 60px;
  }
}
